<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984795253450-lvetr9mhtqslepv8tuevspcec0ke3ue2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984795253450-lvetr9mhtqslepv8tuevspcec0ke3ue2</string>
	<key>API_KEY</key>
	<string>AIzaSyAvlxrdJt14HuYcVrlNlm7chtHd4OqJhdU</string>
	<key>GCM_SENDER_ID</key>
	<string>984795253450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.stvtech.flutterauth</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-711f9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-711f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984795253450:ios:a9bcf623928e9a2d4b4233</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-auth-711f9.firebaseio.com</string>
</dict>
</plist>